<body>

  <div class="border1">

    <div>

      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <app-header></app-header>

            <div class="row">
              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <app-todo-list>

                </app-todo-list>
              </div>
              <div class="col-md-2">

              </div>
            </div>


            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>